[submodule "lib/Leaflet.Pancontrol"]
	path = lib/Leaflet.Pancontrol
	url = https://github.com/kartena/Leaflet.Pancontrol.git
[submodule "lib/leaflet-tilejson"]
	path = lib/leaflet-tilejson
	url = https://github.com/kartena/leaflet-tilejson.git
